# Predicting House Prices

### Import libraries

In [459]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling as pp
import warnings
warnings.filterwarnings('ignore')
#%matplotlib inline

### Import the datasets

In [460]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [461]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [462]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [463]:
print('Number of Training = {}'.format(train_data.shape[0]))
print('Number of Test = {}\n'.format(test_data.shape[0]))

#target columns
train_data.columns

Number of Training = 1460
Number of Test = 1459

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [464]:
#Pandas Profiling Report
report = pp.ProfileReport(train_data)

In [465]:
# The following command will export your previous report into a html file. 
#report.to_file(output_file="dataframe_titanic_report.html")

In [466]:
train_data.describe(include="all")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

### Feature Lot Frontage
The feature LotFrontage has ~17% missing values

In [467]:
#We wont move forward using the LotFrontage variable
train_data = train_data.drop(["LotFrontage"], axis = 1)
test_data = test_data.drop(["LotFrontage"], axis = 1)

### Feature Alley
The feature Alley has ~94% missing values

In [468]:
#We wont move forward using the Alley variable
train_data = train_data.drop(["Alley"], axis = 1)
test_data = test_data.drop(["Alley"], axis = 1)

### Feature FireplaceQu
The feature FireplaceQu has ~47% missing values

In [469]:
#We wont move forward using the FireplaceQu variable
train_data = train_data.drop(["FireplaceQu"], axis = 1)
test_data = test_data.drop(["FireplaceQu"], axis = 1)

### Feature PoolQC
The feature PoolQC has ~100% missing values

In [470]:
#We wont move forward using the PoolQC variable
train_data = train_data.drop(["PoolQC"], axis = 1)
test_data = test_data.drop(["PoolQC"], axis = 1)

### Feature Fence
The feature Fence has ~81% missing values

In [471]:
#We wont move forward using the Fence variable
train_data = train_data.drop(["Fence"], axis = 1)
test_data = test_data.drop(["Fence"], axis = 1)

### Feature MiscFeature
The feature MiscFeature has ~96% missing values

In [472]:
#We wont move forward using the MiscFeature variable
train_data = train_data.drop(["MiscFeature"], axis = 1)
test_data = test_data.drop(["MiscFeature"], axis = 1)

### Feature Street
0.1% of the values are distinict

In [473]:
#We wont move forward using the Street variable
train_data = train_data.drop(["Street"], axis = 1)
test_data = test_data.drop(["Street"], axis = 1)

### Feature Utilities
0.1% of the values are distinct

In [474]:
#We wont move forward using the Utilities variable
train_data = train_data.drop(["Utilities"], axis = 1)
test_data = test_data.drop(["Utilities"], axis = 1)

### Feature LotShape
0.3% of the values are distinct

In [475]:
#We wont move forward using the LotShape variable
train_data = train_data.drop(["LotShape"], axis = 1)
test_data = test_data.drop(["LotShape"], axis = 1)

### Feature Condition1 and Condition2
Low correlation, low variability

In [476]:
#We wont move forward using the Condition1 variable
train_data = train_data.drop(["Condition1"], axis = 1)
test_data = test_data.drop(["Condition1"], axis = 1)

In [477]:
#We wont move forward using the Condition2 variable
train_data = train_data.drop(["Condition2"], axis = 1)
test_data = test_data.drop(["Condition2"], axis = 1)

### Feature Functional
Low correlation, low variability

In [478]:
#We wont move forward using the Functional variable
train_data = train_data.drop(["Functional"], axis = 1)
test_data = test_data.drop(["Functional"], axis = 1)

### Drop rows where values are missing

In [479]:
train_data = train_data.dropna()

In [480]:
print(train_data.shape)
print(test_data.shape)

(1338, 69)
(1459, 68)

### Create dummy variables for categoricals

In [481]:
train_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'LandContour', 'LotConfig',
       'LandSlope', 'Neighborhood', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

#### Train dataset:

In [482]:
categoricals = ['MSZoning', 'LandContour', 'LotConfig',
                'LandSlope', 'Neighborhood', 'BldgType', 'HouseStyle',
                'RoofStyle',
                'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
                'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
                'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
                'Heating', 'HeatingQC',
                'CentralAir', 'Electrical',
                'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
                'KitchenQual',
                'Fireplaces', 'GarageType', 'GarageFinish', 'GarageCars',
                'GarageQual', 'GarageCond', 'PavedDrive',
                'MoSold', 'SaleType', 'SaleCondition']

In [483]:
#GET_DUMMIES
#Encoding the categorical features
categoricals_oh = []

for label in categoricals:
    categorical_oh = pd.get_dummies(train_data[label], prefix=label)
    categoricals_oh.append(categorical_oh)

In [484]:
#Comnine the encoded columns

df_encoded = pd.concat([train_data] + categoricals_oh, axis=1)
df_encoded.head()

,Id,MSSubClass,MSZoning,LotArea,LandContour,LotConfig,LandSlope,Neighborhood,BldgType,HouseStyle,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,RL,8450,Lvl,Inside,Gtl,CollgCr,1Fam,2Story,...,0,0,0,1,0,0,0,0,1,0
1,2,20,RL,9600,Lvl,FR2,Gtl,Veenker,1Fam,1Story,...,0,0,0,1,0,0,0,0,1,0
2,3,60,RL,11250,Lvl,Inside,Gtl,CollgCr,1Fam,2Story,...,0,0,0,1,0,0,0,0,1,0
3,4,70,RL,9550,Lvl,Corner,Gtl,Crawfor,1Fam,2Story,...,0,0,0,1,1,0,0,0,0,0
4,5,60,RL,14260,Lvl,FR2,Gtl,NoRidge,1Fam,2Story,...,0,0,0,1,0,0,0,0,1,0

In [485]:
#Drop the original categorical features
df_encoded = df_encoded.drop(categoricals, axis=1)
df_encoded.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

#### Test Dataset:

In [486]:
#GET_DUMMIES
#Encoding the categorical features
test_categoricals_oh = []

for label in categoricals:
    test_categorical_oh = pd.get_dummies(test_data[label], prefix=label)
    test_categoricals_oh.append(test_categorical_oh)

In [487]:
#Comnine the encoded columns

test_df_encoded = pd.concat([test_data] + test_categoricals_oh, axis=1)
test_df_encoded.head()

,Id,MSSubClass,MSZoning,LotArea,LandContour,LotConfig,LandSlope,Neighborhood,BldgType,HouseStyle,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,RH,11622,Lvl,Inside,Gtl,NAmes,1Fam,1Story,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,RL,14267,Lvl,Corner,Gtl,NAmes,1Fam,1Story,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,RL,13830,Lvl,Inside,Gtl,Gilbert,1Fam,2Story,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,RL,9978,Lvl,Inside,Gtl,Gilbert,1Fam,2Story,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,RL,5005,HLS,Inside,Gtl,StoneBr,TwnhsE,1Story,...,0,0,0,1,0,0,0,0,1,0

In [488]:
#Drop the original categorical features
test_df_encoded = test_df_encoded.drop(categoricals, axis=1)
test_df_encoded.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0

#### Drop unique values

In [489]:
df_encoded.describe(include="all")

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,...,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,731.228700,56.136024,10706.294469,6.219731,5.596413,1973.029148,1985.668909,110.360239,464.234679,49.218236,...,0.002990,0.087444,0.000747,0.865471,0.064275,0.000747,0.005232,0.014948,0.825112,0.089686
std,421.779691,41.252576,10336.621126,1.324472,1.078124,29.563540,20.296463,185.604816,458.792420,166.196584,...,0.054615,0.282590,0.027338,0.341348,0.245334,0.027338,0.072168,0.121389,0.380013,0.285838
min,1.000000,20.000000,1300.000000,2.000000,2.000000,1880.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,366.250000,20.000000,7744.000000,5.000000,5.000000,1956.000000,1968.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,730.500000,50.000000,9600.000000,6.000000,5.000000,1976.000000,1994.500000,0.000000,413.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1098.750000,70.000000,11760.750000,7.000000,6.000000,2001.000000,2004.000000,174.000000,733.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1460.000000,190.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [490]:
print(df_encoded.shape)
print(test_df_encoded.shape)

(1338, 260)
(1459, 257)

In [491]:

not_in_test = [i for i in df_encoded.columns if i not in test_df_encoded.columns]
not_in_train = [i for i in test_df_encoded.columns if i not in df_encoded.columns]


y = df_encoded["SalePrice"]
df_encoded = df_encoded.drop(not_in_test, axis = 1)
test_df_encoded = test_df_encoded.drop(not_in_train, axis = 1)
df_encoded["SalePrice"] = y

In [492]:
print(df_encoded.shape)
print(test_df_encoded.shape)

(1338, 239)
(1459, 238)

In [493]:
np.where(np.isnan(df_encoded))

(array([], dtype=int64), array([], dtype=int64))

In [494]:
df_encoded.dropna()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SalePrice
0,1,60,8450,7,5,2003,2003,196.0,706,0,...,0,0,1,0,0,0,0,1,0,208500
1,2,20,9600,6,8,1976,1976,0.0,978,0,...,0,0,1,0,0,0,0,1,0,181500
2,3,60,11250,7,5,2001,2002,162.0,486,0,...,0,0,1,0,0,0,0,1,0,223500
3,4,70,9550,7,5,1915,1970,0.0,216,0,...,0,0,1,1,0,0,0,0,0,140000
4,5,60,14260,8,5,2000,2000,350.0,655,0,...,0,0,1,0,0,0,0,1,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,0.0,0,0,...,0,0,1,0,0,0,0,1,0,175000
1456,1457,20,13175,6,6,1978,1988,119.0,790,163,...,0,0,1,0,0,0,0,1,0,210000
1457,1458,70,9042,7,9,1941,2006,0.0,275,0,...,0,0,1,0,0,0,0,1,0,266500
1458,1459,20,9717,5,6,1950,1996,0.0,49,1029,...,0,0,1,0,0,0,0,1,0,142125
1459,1460,20,9937,5,6,1965,1965,0.0,830,290,...,0,0,1,0,0,0,0,1,0,147500

In [495]:
from sklearn.model_selection import train_test_split

In [496]:
print(df_encoded.shape)
print(test_df_encoded.shape)

(1338, 239)
(1459, 238)

In [497]:
#df_encoded -> this is out train dataset encoded and preprocessed

y = df_encoded["SalePrice"] #target
X = df_encoded.drop(["SalePrice", "Id"], axis=1) #train predictors

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.5, random_state = 41)

In [498]:
X.shape

(1338, 237)

In [499]:
y.shape

(1338,)

### Building our Machine Learning Models

In [500]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_val)

**Desicion Tree**

In [501]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

y_pred = dt.predict(X_val)

In [513]:
from sklearn import tree
dtr = tree.DecisionTreeRegressor()

dtr.fit(X_train, y_train)
y_pred = dtr.predict(X_val)

## FINAL EFFORT

In [514]:
#Original test dataset
test_data = test_df_encoded
test_data.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [515]:
pd.isnull(test_data).sum()

Id                       0
MSSubClass               0
LotArea                  0
OverallQual              0
OverallCond              0
                        ..
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 238, dtype: int64

In [516]:
test_data = test_data.fillna(0)
pd.isnull(test_data).sum()

Id                       0
MSSubClass               0
LotArea                  0
OverallQual              0
OverallCond              0
                        ..
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 238, dtype: int64

In [517]:
submission = pd.DataFrame()
submission["Id"] = test_data["Id"]
submission

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [518]:
test_data = test_data.drop("Id", axis = 1)
test_data.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,20,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,1,0,0,0,0,1,0
1,20,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,1,0,0,0,0,1,0
2,60,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,1,0,0,0,0,1,0
3,60,9978,6,6,1998,1998,20.0,602.0,0.0,324.0,...,0,0,0,1,0,0,0,0,1,0
4,120,5005,8,5,1992,1992,0.0,263.0,0.0,1017.0,...,0,0,0,1,0,0,0,0,1,0

In [519]:
predictions = dtr.predict(test_data)
submission["SalePrice"] = predictions
submission.to_csv("submission.csv", index=False)